@{ ViewData["Title"] = "Página de inicio"; }
@model IEnumerable<NAILSART.Models.NAILSART_SALON>



<h1 style="        color: #C5378D" class="display-4">Bienvenidos a NAILSART</></h1>
        <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
                <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            </ol>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img style="width: auto; height:auto;" class="d-block w-100" src="~/imagenes/N1.jpg" alt="First slide">
                </div>
                <div class="carousel-item">
                    <img style="width: auto; height:auto;" class="d-block w-100" src="~/imagenes/N2.jpg" alt="Second slide">
                </div>
                <div class="carousel-item">
                    <img style="width: auto; height:auto;" class="d-block w-100" src="~/imagenes/N3.jpg" alt="Third slide">
                </div>
                <div class="carousel-item">
                    <img style="width: auto; height:auto;" class="d-block w-100" src="~/imagenes/N4.jpg" alt="Fourth slide">
                </div>
            </div>
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Siguiente</span>
            </a>
        </div>
 

        <div div class="text-center">
            <h3><b>NAILSART</b></h3>

            <p style="text-align: justify;">
                Venta de productos de uñas profesionales. Garantia de Calidad.
            <p />
            <p style="text-align: justify;">
                Inspírate con los mejores looks. Tenemos todo lo que tus uñas necesitan. ¡Pide tu cita!
            <p />

        </div>
