@{
    ViewData["Title"] = "Privacidad";
}
<div class="text-center">
    <h1 style="        color: #C5378D" class="display-4">Productos de manicura</></h1>
    <p>  </p>
    <p>
        NAILSART Te da la opción no sólo de realizar la manicura en nuestros centros sino de disponer en tu casa de todos nuestros productos.
    </p>
   
</div>

<div class="container">
    <div class="row">

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <img width="250" height="250" src=https://ae01.alicdn.com/kf/HTB1DDfFSIbpK1RjSZFyq6x_qFXaF/MSHARE-Matt-abrigo-blanco-negro-u-as-de-Gel-polaco-barniz-empapa-Gel-LED-UV-esmalte.jpg class="img-responsive">
            <div class="mtitle"><font color="purple">Esmaltes acabado profesional</font></div><br />
        </div>

        <div class="gallery_product col-lg-4 col-md-4 col-sm-4 col-xs-6">
                <img width="250" height="250" src=https://images-na.ssl-images-amazon.com/images/I/61CAHTjW2AL._SY355_.jpg class="img-responsive">
            <div class="mtitle"><font color="purple">ASUS TUF Gaming A15 FX506LH-BQ034</font></div><br />
        </div>
    </div>
</div>